.log-area {
    display: none;
}

.table-responsive {
    margin-top: 20px;
}

#state {
    margin-top: 150px;
}

.ct-chart {
    height: 180px;
    margin: 0px auto;
    text-align: center;
}
.jumbotron {
    padding: .3rem 1rem !important;
}
.jumbotron a {
    position: absolute;
    right: 50px;
    top: 15px;
}
/* #chart_div {
    position: relative;
    width: 690px;
    height: 500px;
} */